@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
}

#leftDiv {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#rightDiv {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#leftDiv img {
    width: 18vw;
    height: 35vh;
    transform: scaleX(-1);
    padding: 0;
}

#navbar {
    display: flex;
    background-color: rgb(32, 31, 31);
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* text-justify: ; */
    width: 18vw;
}




#aboutmeHeading {
    text-align: center;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 6vw;
    margin: 30px;
    text-transform: uppercase;
}

#rightDiv p {
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

#nameRole p {
    font-size: 2vw;
    margin-left: 50px;
    color: rgb(80, 77, 77);
}

#nameRole b {
    color: black;
}

#rightInner {
    display: flex;
    /* border:1px;
    border-style: solid;
    color:black; */
    height: 100vh;
}

#achievment {
    display: flex;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 45vw;
    background-color: rgb(32, 31, 31);
}

#projectDone {

    width: 50%;
    border-left: 1px solid rgb(175, 171, 171);
}

#experiences {
    width: 50%;
}

#whatIDo {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

#whatIDo h2 {
    margin-left: 2vw;
    font-weight: 700;
    font-size: 30px;
    color: rgb(63, 61, 61);
}

#whatIDo img {
    border: 1px;
    border-radius: 50%;
    border-style: solid;
    float: inline-start;
    margin-left: 30px;
}

#whatIDo span {
    font-size: large;
    font-weight: 600;
    font-variant: small-caps;
}

#webDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#logoDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#javaDev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#achievment h1 {
    font-size: 9vw;
    color: rgb(175, 171, 171);
    text-align: center;
    /* font-family: 'Archivo Black', sans-serif; */
    font-size: 6vw;
    margin-top: 6vh;
    text-transform: uppercase;
}

#achievment p {
    font-size: 20px;
    color: rgb(175, 171, 171);
    margin: 0;
    padding: 0;
    text-align: center;
}
  

  nav {
      background-color: rgb(32, 31, 31);
      /* overflow: hidden; */
      width: 20vh;
      /* Set the width of the navbar to 40vh */
      height: 30vh;
      /* Set the height of the navbar to 100vh to take the full viewport height */
      display: flex;
      flex-direction: column;
      /* Display the navbar items in a column */
     
  }

  #navbar nav a {
      color: #fc9003;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      
     
      /* border-bottom: 1px solid #fc9003; */
      /* Add a border between navbar items for separation */
  }

 #navbar nav a:last-child {
      border-bottom:none;
      /* Remove the border from the last navbar item to avoid an extra line */
  }

  #navbar nav a:hover {
    background-color: #fc9003;
    color: black;
    border-radius: 30px;
    font-weight: 500;
    
   
     
  }

  @media screen and (max-width: 600px) {
      nav {
          width: 100%;
          /* Set the width to 100% on smaller screens */
      }
  }

